<script lang="ts">
    import CLoginScreen from "../components/CLoginScreen.svelte";
    import { Header, SkipToContent, Content, HeaderUtilities, HeaderGlobalAction, ComposedModal, ModalHeader, ModalBody, SideNav, SideNavItems } from "carbon-components-svelte";
    import { ContainerServices20, Events20, Logout20, UserAvatar20, UserMultiple20 } from "carbon-icons-svelte";
    import { loadGlobalData, token, isAdmin } from "../stores";
    import { ApiError } from "../api";
    import CAutoselectedSideNavLink from "../components/CAutoselectedSideNavLink.svelte";

    let lsdError = null;
    let isSideNavOpen = false;

    loadGlobalData().then(
        () => {},
        err => {
            if(err instanceof ApiError && err.status === 403) {
                // Our token is invalid, but otherwise everything's probably fine
                $token = null;
            } else {
                lsdError = err.toString();
            }
        });
</script>

<style lang="scss" global>
    /** Gray 10 theme **/
    @import "carbon-components-svelte/css/g10.css";

    html,#svelte {
        height: 100%;
        background: $ui-02;
    }

    .bx--content {
        height: 100%;
        background: $ui-02;

        @media (max-width: 672px) {
            padding: 0;
        }
    }

    .bx--side-nav ~ .bx--content {
        margin-left: 0; // Doesn't work on Mobile
    }

    // Putting the menu above content breaks the overlay on smaller screens,
    // putting it under the content has it overlapping the content on bigger
    // displays, so we hack it a bit
    .bx--content {
        @include carbon--breakpoint-up('lg') {
            margin-left: 16rem;
        }
    }
</style>

<Header company="SIDSS" platformName="Web UI" bind:isSideNavOpen>
    <div slot="skip-to-content">
        <SkipToContent />
    </div>
    <HeaderUtilities>
        {#if $token}
            <HeaderGlobalAction on:click={() => $token = null}
                                aria-label="Logout"
                                icon={Logout20} />
        {/if}
    </HeaderUtilities>
</Header>

<Content>
    {#if lsdError}
        <ComposedModal
                open
                preventCloseOnClickOutside
                on:close={() => location.reload()}>
            <ModalHeader title="Error loading static data" />
            <ModalBody>
                An error occured loading initial data (list of services and groups):
                <div><em>{lsdError}</em></div>
            </ModalBody>
        </ComposedModal>
    {:else if !$token}
        <CLoginScreen />
    {:else}
        <slot />
    {/if}
</Content>

{#if $token}
    <SideNav bind:isOpen={isSideNavOpen}>
        <SideNavItems>
            <!-- The magic number is a width breakpoint for showing the menu permanently
                 from SideNavLink.svelte -->
            <CAutoselectedSideNavLink
                on:click={() => { if(window.innerWidth < 1056) isSideNavOpen = false }}
                href="/" icon={UserAvatar20} text="Your account" />
            {#if $isAdmin}
                <CAutoselectedSideNavLink
                    on:click={() => { if(window.innerWidth < 1056) isSideNavOpen = false }}
                    href="/users" icon={UserMultiple20} text="Users" />
            {/if}
            <CAutoselectedSideNavLink
                on:click={() => { if(window.innerWidth < 1056) isSideNavOpen = false }}
                href="/groups" icon={Events20} text="Groups" />
            <CAutoselectedSideNavLink
                on:click={() => { if(window.innerWidth < 1056) isSideNavOpen = false }}
                href="/services" icon={ContainerServices20} text="Services" />
        </SideNavItems>
    </SideNav>
{/if}
