<script lang="ts">
    import { DataTable, Tile } from "carbon-components-svelte";
    import { groups } from "../stores";

    const headers = [
        {key: "id", value: "Name"},
        {key: "gid", value: "Unix GID"},
        {key: "description", value: "Description"}
    ];
    let rows: {id: string, gid: number, description: string}[];
    $: rows = $groups.map(g => ({
        id: g.id,
        gid: g.group.gid,
        description: g.group.description || ""}));
</script>

<style lang="scss">
    h2 {
        margin-bottom: $layout-02;
    }
</style>

<Tile light style="max-width: 672px">
    <h2>Groups</h2>

    <DataTable {headers} {rows}>
    </DataTable>
</Tile>
