<script lang="ts">
    import { DataTable, Tile } from "carbon-components-svelte";
    import { services } from "../stores";

    const headers = [
        {key: "id", value: "Name"},
        {key: "description", value: "Description"}
    ];
    let rows: {id: string, description: string}[];
    $: rows = $services.map(s => ({
        id: s.id,
        description: s.service.description || ""
    }));
</script>

<style lang="scss">
    h2 {
        margin-bottom: $layout-02;
    }
</style>

<Tile light style="max-width: 672px">
    <h2>Services</h2>

    <DataTable {headers} {rows}>
    </DataTable>
</Tile>
