<script lang="ts">
    import { DataTable, ToolbarContent, Button, InlineLoading, InlineNotification, Tile, Modal } from "carbon-components-svelte";
    import { getUsers } from "sidss-common/httpApi";
    import type { User } from "sidss-common/mgmtModel";
    import CUserInfo from "../components/CUserInfo.svelte";
    import { callEndpoint } from "../api";
    import { isAdmin } from "../stores";

    let editingUser: {id: string, user: User} = null;
    let editingNewUser = false;

    let allUsersPromise = callEndpoint(getUsers, undefined);
    let allUsers: {id: string, user: User}[] = null;

    let cUserInfo: CUserInfo = null;

    const headers = [
        {key: "id", value: "Name"},
        {key: "uid", value: "Unix UID"},
        {key: "memberOf", value: "Groups"},
    ];
    let rows: Promise<{id: string, uid: number, memberOf: string[]}[]>;
    $: rows = allUsersPromise.then(users => {
        allUsers = users;
        return users.map(user => ({
            id: user.id,
            uid: user.user.uid,
            memberOf: user.user.memberOf,
        }));
    });

    function addUser() {
        editingNewUser = true;
        editingUser = {
            id: "",
            user: {
                // This should always give a real number, since someone has to
                // be logged in
                uid: Math.max(...allUsers.map(u => u.user.uid)) + 1,
                memberOf: [],
                permissions: [],
                bindPws: [],
            },
        };
    }

    async function saveEditingUser() {
        await cUserInfo.save();
        editingUser = null;
        editingNewUser = false;
        allUsersPromise = callEndpoint(getUsers, undefined);
    }
</script>

<Tile light style="max-width: 672px">
    <h2>Users</h2>

    {#await rows}
        <InlineLoading description="Loading user list..." />
    {:then rows}
        <DataTable {headers} {rows} on:click:row={row =>
            editingUser = allUsers.find(u => u.id === row.detail.id)}>
            {#if $isAdmin}
                <ToolbarContent>
                    <Button on:click={addUser}>Add user</Button>
                </ToolbarContent>
            {/if}
        </DataTable>
    {:catch e}
        <InlineNotification
            kind=error title="Error loading user list!" subtitle={e.message} />
    {/await}
</Tile>

{#if editingUser !== null}
    <Modal open
           preventCloseOnClickOutside
           shouldSubmitOnEnter={false}
           modalHeading="Edit user"
           primaryButtonText="OK"
           secondaryButtonText="Cancel"
           on:click:button--secondary={() => editingUser = null}
           on:close={() => editingUser = null}
           on:submit={saveEditingUser}>
        <CUserInfo bind:this={cUserInfo}
                   bind:userId={editingUser.id}
                   bind:user={editingUser.user}
                   canEditUsername={editingNewUser}
                   canEditUid={$isAdmin}
                   canEditGroups={$isAdmin}
                   canEditBindPws={$isAdmin} />
    </Modal>
{/if}
