<script lang="ts" context="module">
    import { writable } from "svelte/store";

    const pathname = writable(
        typeof location !== "undefined"
        ? location.pathname
        : "");
    if(typeof history !== "undefined") {
        const pushStateOrig = history.pushState;
        history.pushState = (s, t, u) => {
            pushStateOrig.apply(history, [s, t, u]);
            pathname.set(location.pathname);
        };
    }
</script>

<script lang="ts">
    import { SideNavLink } from "carbon-components-svelte";
    import type { CarbonIcon } from "carbon-icons-svelte";
    export let href: string;
    export let text: string;
    export let icon: typeof CarbonIcon | undefined;
</script>

<SideNavLink on:click {href} {text} {icon} isSelected={$pathname === href} />
