<script lang="ts">
    import { Button, Checkbox, ComboBox, DatePicker, DatePickerInput, Form, FormGroup, PasswordInput, Tag, TextInput, TimePicker } from "carbon-components-svelte";
    import type { BindPw } from "sidss-common/mgmtModel";
    import * as argon2 from "argon2-browser/dist/argon2-bundled.min.js";
    import { services } from "../stores";

    export let bindPw: BindPw;

    let selectedServiceIdx = -1;
    let shouldExpire = bindPw.expiresAt !== undefined;

    let password = "";
    // We only calculate the hash on a manual call for performance reasons
    export async function calculateHash() {
        if(password.trim() === "") {
            bindPw.hash = "";
        } else {
            const salt = new Int8Array(16);
            window.crypto.getRandomValues(salt);
            // Barbaric, but Argon2 will sort it out somehow, the entropy
            // is still there
            const saltString = Array.from(salt).map(i => i.toString()).join("");
            const {encoded} = await argon2.hash({pass: password, salt: saltString});
            bindPw.hash = encoded;
        }
    }

    const date = bindPw.expiresAt ? new Date(bindPw.expiresAt * 1000) : new Date();
    let expirationDateString = date.toISOString().split("T")[0];
    let expirationTimeString = `${date.getHours()}:${String(date.getMinutes()).padStart(2, "0")}`;
    $: {
        if(!shouldExpire) {
            bindPw.expiresAt = undefined;
        } else {
            let year = 0, month = 0, date = 0, hour = 0, minute = 0;
            
            try {
                [year, month , date] = expirationDateString.split("-").map(i => parseInt(i));
            } catch(e) {}
            try {
                [hour, minute] = expirationTimeString.split(":").map(i => parseInt(i));
            } catch(e) {}
            bindPw.expiresAt = new Date(year, month - 1, date, hour, minute).getTime() / 1000
        }
    }

    const comboBoxServices = [
        {id: "*", text: "All"},
        ...$services.map(svc => ({
            id: svc.id,
            text: svc.service.description,
        }))
    ];

    function removeService(service: string) {
        if(bindPw.services === "*") {
            bindPw.services = [];
        } else {
            bindPw.services = bindPw.services.filter(s => s !== service);
        }
    }

    function addService(service: string) {
        if(bindPw.services === "*") {
            throw new Error("Tried to add service to bind password with all services!");
        } else {
            if(service === "*") {
                bindPw.services = "*";
            } else {
                bindPw.services = [...new Set([...bindPw.services, service])];
            }
        }
        selectedServiceIdx = -1; // TODO: Doesn't work?
    }
</script>

<style lang="scss">
    .services-spacer {
        height: $spacing-04;
    }

    .service-add-wrapper,.datetime-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spacing-04;
    }

    .service-add-wrapper > :global(*:nth-child(1)) {
        flex-grow: 1;
    }
</style>

<Form>
    <FormGroup>
        <TextInput labelText="Description" bind:value={bindPw.description} />
    </FormGroup>

    <FormGroup legendText="Services">
        {#if bindPw.services === "*"}
            <Tag type=high-contrast filter on:close={() => removeService("*")}>
                All
            </Tag>
        {:else}
            {#each bindPw.services as service}
                <Tag filter on:close={() => removeService(service)}>
                    {service}
                </Tag>
            {/each}
        {/if}

        {#if bindPw.services !== "*"}
            <div class="services-spacer"></div>

            <div class="service-add-wrapper">
                <ComboBox type=inline
                          items={comboBoxServices}
                          placeholder="Select service"
                          bind:selectedIndex={selectedServiceIdx}
                          shouldFilterItem={(item, text) =>
                              `${item.id}${item.text}`
                                  .toLowerCase()
                                  .includes(text.toLowerCase())}/>
                <Button kind=tertiary
                        size=field
                        on:click={() => addService(comboBoxServices[selectedServiceIdx].id)}>
                    Add
                </Button>
            </div>
        {/if}
    </FormGroup>
    
    <FormGroup>
        <Checkbox labelText="Should expire" bind:checked={shouldExpire} />

        {#if shouldExpire}
            <div class="datetime-wrapper">
                <DatePicker datePickerType=single
                            dateFormat="Y-m-d"
                            bind:value={expirationDateString}>
                    <DatePickerInput labelText="Date" placeholder="yyyy-mm-dd" />
                </DatePicker>
                <TimePicker labelText="Time" bind:value={expirationTimeString} />
            </div>
        {/if}
    </FormGroup>

    <FormGroup>
        <PasswordInput labelText="Password" bind:value={password} />
    </FormGroup>
</Form>
