<script lang="ts">
    import { Form, Button, TextInput, PasswordInput, FormGroup, InlineNotification } from "carbon-components-svelte";
    import { login as loginInner } from "../stores";

    let username = "";
    let password = "";

    let error: string | null = null;

    function login() {
        loginInner(username, password).then(
            _res => {},
            err => error = err.toString());
    }
</script>

<style lang="scss">
    .screen {
        width: 100%;
        height: 100%;
        display: grid;
        align-content: center;
    }

    .form-wrapper {
        max-width: 400px;
        padding: $spacing-05;
        background-color: $ui-01;
    }

    h2 {
        margin-bottom: $spacing-06;
    }
</style>

<div class="screen">
    <div class="form-wrapper">
        <Form on:submit={login}>
            <h2>Log in</h2>

            <FormGroup>
                <TextInput labelText="Username" bind:value={username} />
            </FormGroup>
            <FormGroup>
                <PasswordInput labelText="Password" bind:value={password} />
            </FormGroup>

            {#if error}
                <InlineNotification kind=error title="Error:" subtitle={error} />
            {/if}

            <Button type=submit>Log in</Button>
        </Form>
    </div>
</div>
