<script lang="ts">
    import { Button, InlineLoading, InlineNotification, Tile } from "carbon-components-svelte";
    import { getSelfInfo } from "sidss-common/httpApi";
    import { callEndpoint } from "../api";
    import { isAdmin } from "../stores";
    import CUserInfo from "./CUserInfo.svelte";

    const info = callEndpoint(getSelfInfo, undefined);
    let cUserInfo: CUserInfo;
</script>

<Tile light style="max-width: 672px">
    <h2>User details</h2>

    {#await info}
        <InlineLoading description="Loading user details..." />
    {:then info}
        <CUserInfo bind:this={cUserInfo}
                   userId={info.id}
                   user={info.user}
                   canEditUid={$isAdmin}
                   canEditGroups={$isAdmin}
                   canEditBindPws />

        <Button on:click={() => cUserInfo.save()}>Save</Button>
    {:catch e}
        <InlineNotification
            kind=error title="Error loading user details!" subtitle={e.message} />
    {/await}
</Tile>
