<script lang="ts">
    import { onDestroy } from "svelte";
    import { Button, ComboBox, DataTable, Form, FormGroup, InlineLoading, InlineNotification, Modal, NumberInput, Tag, TextInput, Toolbar, ToolbarContent } from "carbon-components-svelte";
    import { Delete16, Edit16 } from "carbon-icons-svelte";
    import type { BindPw, User } from "sidss-common/mgmtModel";
    import { upsertUser } from "sidss-common/httpApi";
    import { groups } from "../stores";
    import CBindPwEdit from "./CBindPwEdit.svelte";
    import { callEndpoint } from "../api";
    export let userId: string;
    export let user: User;
    export let canEditUsername = false;
    export let canEditUid = false;
    export let canEditGroups = false;
    export let canEditBindPws = false;

    const comboBoxGroups = $groups.map(group => ({
        id: group.id,
        text: group.group.description || "",
    }));
    let selectedGroupIdx = -1;

    let editingBindPw: [number, BindPw] | null = null;
    let bindPwEdit: any;
    let deletingBindPwIdx: number | null = null;

    let relativeDateBase = new Date();
    const relativeDateBaseRefresh = setInterval(() =>
        relativeDateBase = new Date(), 10000);
    onDestroy(() => clearInterval(relativeDateBaseRefresh));

    let saveResult: Promise<undefined>;

    function formatExpiry(base: Date, expiresAt?: number) {
        if(expiresAt) {
            const now = base.getTime() / 1000;
            let diff = expiresAt - now;
            if(diff <= 0) {
                return "Expired";
            }
            if(diff <= 60) {
                return `in ${Math.round(diff)} second(s)`;
            }
            diff /= 60;
            if(diff <= 60) {
                return `in ${Math.round(diff)} minute(s)`;
            }
            diff /= 60;
            if(diff <= 48) {
                return `in ${Math.round(diff)} hour(s)`;
            }
            diff /= 24;
            if(diff <= 365) {
                return `in ${Math.round(diff)} day(s)`;
            }
            diff /= 365.25;
            return `in ${Math.round(diff)} year(s)`;
        } else {
            return "Does not expire";
        }
    }

    function removeGroup(group: string) {
        user.memberOf = user.memberOf.filter(g => g !== group);
    }

    function addGroup(group: string) {
        user.memberOf = [...new Set([...user.memberOf, group])];
    }

    function addBindPw() {
        user.bindPws = [...user.bindPws, {
            id: Math.round(Math.random()*10000000).toString(),
            hash: "",
            services: [],
        }];
        const idx = user.bindPws.length - 1;
        editingBindPw = [idx, user.bindPws[idx]];
    }

    export function save() {
        saveResult = callEndpoint(upsertUser, {id: userId, user});
        return saveResult;
    }
</script>

<style lang="scss">
    .groups-spacer {
        height: $spacing-04;
    }

    .groups-add-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spacing-04;
    }

    .pws-toolbar-caption {
        @include carbon--type-style("productive-heading-03");
        line-height: $layout-04;
        margin-left: $spacing-04;
        margin-right: auto;
    }
</style>

<Form on:submit={save}>
    <FormGroup>
        <TextInput labelText="Username"
                   bind:value={userId}
                   readonly={!canEditUsername} />
    </FormGroup>

    <FormGroup>
        <NumberInput label="Unix UID"
                     bind:value={user.uid}
                     readonly={!canEditUid} />
    </FormGroup>

    <FormGroup legendText="Member of groups">
        {#each user.memberOf as group}
            <Tag filter={canEditGroups}
                 on:close={() => removeGroup(group)}>
                {group}
            </Tag>
        {/each}

        {#if canEditGroups}
            <div class="groups-spacer"></div>

            <div class="groups-add-wrapper">
                <ComboBox type=inline
                          items={comboBoxGroups}
                          placeholder="Select group"
                          bind:selectedIndex={selectedGroupIdx}
                          shouldFilterItem={(item, text) =>
                              (item.id + item.text)
                                  .toLowerCase()
                                  .includes((text || "").toLowerCase())}/>
                <Button kind=tertiary
                        size=field
                        on:click={() => addGroup(comboBoxGroups[selectedGroupIdx].id)}>
                    Add
                </Button>
            </div>
        {/if}
    </FormGroup>

    {#if canEditBindPws}
        <FormGroup>
            <DataTable size=medium
                       headers={[
                           {key: "description", value: "Description"},
                           {key: "services", value: "Services"},
                           {key: "expiresAt", value: "Expires"},
                           {key: "actions", empty: true},
                       ]}
                       rows={user.bindPws.map((bindPw, i) => ({
                           ...bindPw,
                           id: i,
                       }))}>
                <Toolbar>
                    <ToolbarContent>
                        <div class="pws-toolbar-caption">Passwords</div>
                        <Button on:click={addBindPw}>Add password</Button>
                    </ToolbarContent>
                </Toolbar>

                <span slot=cell let:cell let:row>
                    {#if cell.key === "services"}
                        {#if cell.value === "*"}
                            <Tag type=high-contrast>All</Tag>
                        {:else}
                            {#each cell.value as service}
                                <Tag>{service}</Tag>
                            {/each}
                        {/if}
                    {:else if cell.key === "expiresAt"}
                        {formatExpiry(relativeDateBase, cell.value)}
                    {:else if cell.key === "actions"}
                        <Button kind=ghost
                                icon={Edit16}
                                iconDescription="Edit"
                                on:click={() =>
                                    editingBindPw = [row.id, {...user.bindPws[row.id]}]
                                } />
                        <Button kind=ghost
                                icon={Delete16}
                                iconDescription="Delete"
                                on:click={() => deletingBindPwIdx = row.id}/>
                    {:else}
                        {cell.value}
                    {/if}
                </span>
            </DataTable>
        </FormGroup>
    {/if}

    {#if saveResult}
        {#await saveResult}
            <InlineLoading description="Saving..." />
        {:then _}
            <InlineNotification
                lowContrast kind=success title="Succesfully saved!" />
        {:catch e}
            <InlineNotification
                lowContrast kind=error title="Error saving!" subtitle={e.message} />
        {/await}
    {/if}
</Form>

{#if editingBindPw !== null}
    <Modal open
           preventCloseOnClickOutside
           shouldSubmitOnEnter={false}
           modalHeading="Edit password"
           primaryButtonText="OK"
           secondaryButtonText="Cancel"
           on:click:button--secondary={() => editingBindPw = null}
           on:close={() => editingBindPw = null}
           on:submit={async () => {
               await bindPwEdit.calculateHash();
               user.bindPws[editingBindPw[0]] = editingBindPw[1]
               editingBindPw = null
           }}>
        <CBindPwEdit bind:bindPw={editingBindPw[1]} bind:this={bindPwEdit} />
    </Modal>
{/if}

{#if deletingBindPwIdx !== null}
    <Modal open
           danger
           modalHeading="Delete password?"
           primaryButtonText="Delete"
           secondaryButtonText="Cancel"
           on:click:button--secondary={() => deletingBindPwIdx = null}
           on:close={() => deletingBindPwIdx = null}
           on:submit={() => {
               user.bindPws = user.bindPws.filter((_, i) => i !== deletingBindPwIdx);
               deletingBindPwIdx = null;
           }}>
        {#if user.bindPws[deletingBindPwIdx].description}
            Are you sure you want to delete password "{user.bindPws[deletingBindPwIdx].description}"?
        {:else}
            Are you sure you want to delete the password?
        {/if}
    </Modal>
{/if}
